{% extends 'core/base.html'%}
{% load static %}
{% block content %}
<div class="container">
    <h2 class="text-center my-4">Use full formats</h2>
    {% for o in usefull_format_objects %}
    <div class="row border-top">
      <div class="col-8 py-2">
        <p class="">{{ forloop.counter }}. {{o.format_title}}</p>
      </div>
      <div class="col-4 py-2">
        <a class="btn btn-primary btn-block" href="{{o.format_file.url}}" role="button" download>Download</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}