{% load static %}
<!-- nav bar -->
<nav
  class="navbar navbar-expand-lg sticky-top navbar-dark"
  style="background-color: #563d7c"
>
  <a class="navbar-brand" href="{% url 'home'%}">BioTechnology</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {{home_active}}">
        <a class="nav-link" href="{% url 'home'%}"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item {{products_active}}">
        <a class="nav-link" href="{% url 'products_url' %}">Our Products</a>
      </li>
      <li class="nav-item dropdown {{staff_active}}">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Staff
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'teaching_staff' %}"
            >Teaching Staff</a
          >
          <a class="dropdown-item" href="{% url 'supporting_staff' %}"
            >Supporting Staff</a
          >
        </div>
      </li>
      <li class="nav-item dropdown {{students_active}}">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Students
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'topper_list' %}"
            >Toppers list</a
          >
          <a class="dropdown-item" href="{% url 'project_list' %}"
            >Student Project</a
          >
          <a class="dropdown-item" href="{% url 'placement_list' %}"
            >Placement</a
          >
          <a class="dropdown-item" href="{% url 'enews_magazine_url' %}"
            >E-Magazine</a
          >
        </div>
      </li>
      <li class="nav-item {{publication_active}}">
        <a class="nav-link" href="{% url 'publication' %}">Publication</a>
      </li>
      <li class="nav-item dropdown {{learning_resources_active}}">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'video_url' %}">Videos</a>
          <a class="dropdown-item" href="{% url 'usefull_format_url' %}"
            >Excellence</a
          >
          <a class="dropdown-item" href="{% url 'usefull_link_url' %}"
            >Useful links</a
          >
          <a class="dropdown-item" href="{% url 'question_paper_url' %}"
            >Downloads</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
